/*@font-face {
  font-family: "Goyang";
  src: url("fonts/Goyang.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}*/

:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --background-color: #ffffff;
  --text-color: #000000;
  --opacity: 1;
}

html,
body,
ul,
li {
  padding: 0;
  margin: 0;
}

input:focus {
  outline: none;
}

html {
  box-sizing: border-box;
}

body * {
  font-family: "Gowun Dodum", sans-serif;
}

body {
  padding: 1em;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#App {
  margin: 1.5em auto;
  max-width: 1200px;
  column-gap: 1.5em;
}

.SearchResult {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 20px;
  grid-auto-rows: 350px;
}

.SearchResult img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 0.3em;
}

.SearchResult .item {
  background-color: #eee;
  display: inline-block;
  margin: 0 0;
  width: 100%;
  border-radius: 0.3em;
}

.SearchResult img:hover {
  opacity: 0.5;
}

/* input 입력창 */
.input-section {
  display: flex;
  justify-content: space-between;
}

.search-input {
  width: 100%;
  font-size: 1.5em;
  padding: 5px 20px;
  border-radius: 1em;
  border: 1px solid rgb(0, 0, 0, 0.3);
  align-items: center;
  transition: box-shadow 0.5s ease-in-out;
}

.search-input:focus {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.random-btn {
  font-size: 1.5em;
  margin-left: 0.5em;
  padding: 0 1em;
  border-radius: 5px;
  border: 1px solid rgb(175, 175, 175);
  background-color: transparent;
  color: var(--text-color);
}

.random-btn:hover {
  cursor: pointer;
  background-color: rgba(202, 202, 202, 0.2);
}

/* 검색 결과 없을 때 */
.no-search {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.no-search i {
  font-size: 5em;
}

.no-search p {
  font-size: 2em;
}

/* fade in, fade out */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ImageInfo {
  animation: fadein 1s forwards;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(36, 36, 36, 0.8);
}

.ImageInfo .title {
  display: flex;
  justify-content: space-between;
  height: min-content;
  font-size: 1.3em;
}

.ImageInfo .description p {
  margin: 5px 0;
}

.ImageInfo .content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30em;
  padding: 1.5em;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 1em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ImageInfo .content-wrapper img {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 20em;
  height: 15em;
  object-fit: scale-down;
}

.ImageInfo .content-wrapper button {
  pointer-events: auto;
  font-size: 2em;
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
}

/* 디바이스의 가로 길이에 따라 검색결과 변경 */
@media screen and (max-width: 992px) {
  .SearchResult {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .SearchResult {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }

  .ImageInfo .content-wrapper {
    width: 100%;
    border-radius: 0;
    font-size: 15px;
  }
}

@media screen and (max-width: 576px) {
  .SearchResult {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}

/* lodaer */
.loading-wrapper {
  z-index: 3;
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  text-align: center;
}

#loading {
  width: 10em;
  height: 10em;
  border: 6px solid rgb(246, 241, 255);
  border-radius: 50%;
  border-top-color: rgb(154, 111, 255);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

.loading-wrapper p {
  color: rgb(246, 241, 255);
  font-size: 2em;
  font-weight: bold;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* dark mode 처리 */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--color-dark);
    --text-color: var(--color-light);
  }
}

#toggleBtn {
  display: none;
}

.darkmode-btn {
  z-index: 1;
  position: fixed;
  bottom: 5%;
  left: 0;
  width: 4em;
  background-color: var(--text-color);
  color: var(--background-color);
  border-radius: 0 10em 10em 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.darkmode-btn label {
  float: right;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 2rem;
}

.dark-mode {
  --background-color: var(--color-dark);
  --text-color: var(--color-light);
}

.light-mode {
  --background-color: var(--color-light);
  --text-color: var(--color-dark);
}

/* 최근 검색어 */
.recent-keywords {
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: center;
  font-size: 1em;
  overflow: scroll;
  margin-top: 1em;
  padding-bottom: 0.3em;
}

.recent-keywords::-webkit-scrollbar {
  background-color: rgba(179, 179, 179, 0.3);
  width: 100%;
  border-radius: 1em;
  height: 0.5em;
}

.recent-keywords::-webkit-scrollbar-thumb {
  background-color: rgb(173, 173, 173);
  border-radius: 1em;
}

.keyword-text {
  margin-right: 0.3em;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 0.2em;
  min-width: 6em;
}

.keyword-list {
  margin: 0 0.3em;
  padding: 0.1em 0.8em;
  background-color: white;
  color: black;
  border-radius: 1em;
  border: 1px solid rgb(206, 206, 206);
}

.keyword-list:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}
